cloud-application/AppView/Connected Services/SearchWSReference/SearchImpl1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53355/Implementation/SearchImpl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppService" />
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AppService" minOccurs="0" name="SearchResult" nillable="true" type="q1:ArrayOfMediaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>