cloud-application/AppView/Connected Services/SearchWSReference/SearchImpl2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMediaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MediaDTO" nillable="true" type="tns:MediaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMediaDTO" nillable="true" type="tns:ArrayOfMediaDTO" />
  <xs:complexType name="MediaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Budget" type="xs:decimal" />
      <xs:element minOccurs="0" name="Director" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediaID" type="xs:int" />
      <xs:element minOccurs="0" name="PublishYear" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaDTO" nillable="true" type="tns:MediaDTO" />
</xs:schema>