cloud-application/AppView/Connected Services/UserWSReference/UserImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53355/Implementation/UserImpl.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53355/Implementation/UserImpl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53355/Implementation/UserImpl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUser_GetAllUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUser" />
  </wsdl:message>
  <wsdl:message name="IUser_GetAllUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_IsUserInserted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserInserted" />
  </wsdl:message>
  <wsdl:message name="IUser_IsUserInserted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserInsertedResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_IsUserUpdated_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserUpdated" />
  </wsdl:message>
  <wsdl:message name="IUser_IsUserUpdated_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserUpdatedResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_IsUserDeleted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserDeleted" />
  </wsdl:message>
  <wsdl:message name="IUser_IsUserDeleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserDeletedResponse" />
  </wsdl:message>
  <wsdl:portType name="IUser">
    <wsdl:operation name="GetAllUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetAllUser" message="tns:IUser_GetAllUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetAllUserResponse" message="tns:IUser_GetAllUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserInserted">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/IsUserInserted" message="tns:IUser_IsUserInserted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/IsUserInsertedResponse" message="tns:IUser_IsUserInserted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserUpdated">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/IsUserUpdated" message="tns:IUser_IsUserUpdated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/IsUserUpdatedResponse" message="tns:IUser_IsUserUpdated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserDeleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/IsUserDeleted" message="tns:IUser_IsUserDeleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/IsUserDeletedResponse" message="tns:IUser_IsUserDeleted_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUser" type="tns:IUser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUser">
      <soap:operation soapAction="http://tempuri.org/IUser/GetAllUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserInserted">
      <soap:operation soapAction="http://tempuri.org/IUser/IsUserInserted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserUpdated">
      <soap:operation soapAction="http://tempuri.org/IUser/IsUserUpdated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserDeleted">
      <soap:operation soapAction="http://tempuri.org/IUser/IsUserDeleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserImpl">
    <wsdl:port name="BasicHttpBinding_IUser" binding="tns:BasicHttpBinding_IUser">
      <soap:address location="http://localhost:53355/Implementation/UserImpl.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>