cloud-application/AppView/Connected Services/ReserveWSReference/ReserveImpl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53355/Implementation/ReserveImpl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://localhost:53355/Implementation/ReserveImpl.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AppService" />
  <xs:element name="GetReservedData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservedDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GetReservedDataResult" nillable="true" type="q1:ArrayOfKeyValuePairOfintint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsReservedInserted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uID" type="xs:int" />
        <xs:element minOccurs="0" name="mediaID" type="xs:int" />
        <xs:element minOccurs="0" name="reservedDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsReservedInsertedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsReservedInsertedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsReservedDeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mediaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsReservedDeletedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsReservedDeletedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservedInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservedInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AppService" minOccurs="0" name="GetReservedInfoResult" nillable="true" type="q2:ArrayOfReserveDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>