cloud-application/AppView/Connected Services/ReserveWSReference/ReserveImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReserveImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53355/Implementation/ReserveImpl.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53355/Implementation/ReserveImpl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53355/Implementation/ReserveImpl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://localhost:53355/Implementation/ReserveImpl.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AppService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReserve_GetReservedData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReservedData" />
  </wsdl:message>
  <wsdl:message name="IReserve_GetReservedData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReservedDataResponse" />
  </wsdl:message>
  <wsdl:message name="IReserve_IsReservedInserted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsReservedInserted" />
  </wsdl:message>
  <wsdl:message name="IReserve_IsReservedInserted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsReservedInsertedResponse" />
  </wsdl:message>
  <wsdl:message name="IReserve_IsReservedDeleted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsReservedDeleted" />
  </wsdl:message>
  <wsdl:message name="IReserve_IsReservedDeleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsReservedDeletedResponse" />
  </wsdl:message>
  <wsdl:message name="IReserve_GetReservedInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReservedInfo" />
  </wsdl:message>
  <wsdl:message name="IReserve_GetReservedInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReservedInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IReserve">
    <wsdl:operation name="GetReservedData">
      <wsdl:input wsaw:Action="http://tempuri.org/IReserve/GetReservedData" message="tns:IReserve_GetReservedData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReserve/GetReservedDataResponse" message="tns:IReserve_GetReservedData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsReservedInserted">
      <wsdl:input wsaw:Action="http://tempuri.org/IReserve/IsReservedInserted" message="tns:IReserve_IsReservedInserted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReserve/IsReservedInsertedResponse" message="tns:IReserve_IsReservedInserted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsReservedDeleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IReserve/IsReservedDeleted" message="tns:IReserve_IsReservedDeleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReserve/IsReservedDeletedResponse" message="tns:IReserve_IsReservedDeleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReservedInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IReserve/GetReservedInfo" message="tns:IReserve_GetReservedInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReserve/GetReservedInfoResponse" message="tns:IReserve_GetReservedInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReserve" type="tns:IReserve">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReservedData">
      <soap:operation soapAction="http://tempuri.org/IReserve/GetReservedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsReservedInserted">
      <soap:operation soapAction="http://tempuri.org/IReserve/IsReservedInserted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsReservedDeleted">
      <soap:operation soapAction="http://tempuri.org/IReserve/IsReservedDeleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReservedInfo">
      <soap:operation soapAction="http://tempuri.org/IReserve/GetReservedInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReserveImpl">
    <wsdl:port name="BasicHttpBinding_IReserve" binding="tns:BasicHttpBinding_IReserve">
      <soap:address location="http://localhost:53355/Implementation/ReserveImpl.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>