cloud-application/AppView/Connected Services/ReserveWSReference/ReserveImpl1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReserveDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReserveDTO" nillable="true" type="tns:ReserveDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReserveDTO" nillable="true" type="tns:ArrayOfReserveDTO" />
  <xs:complexType name="ReserveDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReserveDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReserveDTO" nillable="true" type="tns:ReserveDTO" />
</xs:schema>