cloud-application/AppView/Connected Services/BorrowWSReference/BorrowImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BorrowImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53355/Implementation/BorrowImpl.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53355/Implementation/BorrowImpl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53355/Implementation/BorrowImpl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://localhost:53355/Implementation/BorrowImpl.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AppService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBorrow_GetBorrowData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBorrowData" />
  </wsdl:message>
  <wsdl:message name="IBorrow_GetBorrowData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBorrowDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBorrow_IsBorrowInserted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsBorrowInserted" />
  </wsdl:message>
  <wsdl:message name="IBorrow_IsBorrowInserted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsBorrowInsertedResponse" />
  </wsdl:message>
  <wsdl:message name="IBorrow_IsBorrowUpdated_InputMessage">
    <wsdl:part name="parameters" element="tns:IsBorrowUpdated" />
  </wsdl:message>
  <wsdl:message name="IBorrow_IsBorrowUpdated_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsBorrowUpdatedResponse" />
  </wsdl:message>
  <wsdl:message name="IBorrow_GetBorrowInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBorrowInfo" />
  </wsdl:message>
  <wsdl:message name="IBorrow_GetBorrowInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBorrowInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IBorrow">
    <wsdl:operation name="GetBorrowData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBorrow/GetBorrowData" message="tns:IBorrow_GetBorrowData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBorrow/GetBorrowDataResponse" message="tns:IBorrow_GetBorrowData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsBorrowInserted">
      <wsdl:input wsaw:Action="http://tempuri.org/IBorrow/IsBorrowInserted" message="tns:IBorrow_IsBorrowInserted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBorrow/IsBorrowInsertedResponse" message="tns:IBorrow_IsBorrowInserted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsBorrowUpdated">
      <wsdl:input wsaw:Action="http://tempuri.org/IBorrow/IsBorrowUpdated" message="tns:IBorrow_IsBorrowUpdated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBorrow/IsBorrowUpdatedResponse" message="tns:IBorrow_IsBorrowUpdated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBorrowInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBorrow/GetBorrowInfo" message="tns:IBorrow_GetBorrowInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBorrow/GetBorrowInfoResponse" message="tns:IBorrow_GetBorrowInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBorrow" type="tns:IBorrow">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBorrowData">
      <soap:operation soapAction="http://tempuri.org/IBorrow/GetBorrowData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsBorrowInserted">
      <soap:operation soapAction="http://tempuri.org/IBorrow/IsBorrowInserted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsBorrowUpdated">
      <soap:operation soapAction="http://tempuri.org/IBorrow/IsBorrowUpdated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBorrowInfo">
      <soap:operation soapAction="http://tempuri.org/IBorrow/GetBorrowInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BorrowImpl">
    <wsdl:port name="BasicHttpBinding_IBorrow" binding="tns:BasicHttpBinding_IBorrow">
      <soap:address location="http://localhost:53355/Implementation/BorrowImpl.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>