cloud-application/AppView/Connected Services/BorrowWSReference/BorrowImpl1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBorrowDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BorrowDTO" nillable="true" type="tns:BorrowDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBorrowDTO" nillable="true" type="tns:ArrayOfBorrowDTO" />
  <xs:complexType name="BorrowDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualReturnDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BorrowDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BorrowDTO" nillable="true" type="tns:BorrowDTO" />
</xs:schema>