cloud-application/AppView/Connected Services/GenreWSReference/GenreImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GenreImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53355/Implementation/GenreImpl.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53355/Implementation/GenreImpl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53355/Implementation/GenreImpl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGenre_GetAllGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenre" />
  </wsdl:message>
  <wsdl:message name="IGenre_GetAllGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IGenre_IsGenreInserted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsGenreInserted" />
  </wsdl:message>
  <wsdl:message name="IGenre_IsGenreInserted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsGenreInsertedResponse" />
  </wsdl:message>
  <wsdl:message name="IGenre_IsGenreUpdated_InputMessage">
    <wsdl:part name="parameters" element="tns:IsGenreUpdated" />
  </wsdl:message>
  <wsdl:message name="IGenre_IsGenreUpdated_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsGenreUpdatedResponse" />
  </wsdl:message>
  <wsdl:message name="IGenre_IsGenreDeleted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsGenreDeleted" />
  </wsdl:message>
  <wsdl:message name="IGenre_IsGenreDeleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsGenreDeletedResponse" />
  </wsdl:message>
  <wsdl:portType name="IGenre">
    <wsdl:operation name="GetAllGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenre/GetAllGenre" message="tns:IGenre_GetAllGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenre/GetAllGenreResponse" message="tns:IGenre_GetAllGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsGenreInserted">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenre/IsGenreInserted" message="tns:IGenre_IsGenreInserted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenre/IsGenreInsertedResponse" message="tns:IGenre_IsGenreInserted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsGenreUpdated">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenre/IsGenreUpdated" message="tns:IGenre_IsGenreUpdated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenre/IsGenreUpdatedResponse" message="tns:IGenre_IsGenreUpdated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsGenreDeleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenre/IsGenreDeleted" message="tns:IGenre_IsGenreDeleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenre/IsGenreDeletedResponse" message="tns:IGenre_IsGenreDeleted_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGenre" type="tns:IGenre">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllGenre">
      <soap:operation soapAction="http://tempuri.org/IGenre/GetAllGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsGenreInserted">
      <soap:operation soapAction="http://tempuri.org/IGenre/IsGenreInserted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsGenreUpdated">
      <soap:operation soapAction="http://tempuri.org/IGenre/IsGenreUpdated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsGenreDeleted">
      <soap:operation soapAction="http://tempuri.org/IGenre/IsGenreDeleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GenreImpl">
    <wsdl:port name="BasicHttpBinding_IGenre" binding="tns:BasicHttpBinding_IGenre">
      <soap:address location="http://localhost:53355/Implementation/GenreImpl.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>