cloud-application/AppView/Connected Services/GenreWSReference/GenreImpl1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGenreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenreDTO" nillable="true" type="tns:GenreDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenreDTO" nillable="true" type="tns:ArrayOfGenreDTO" />
  <xs:complexType name="GenreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="GID" type="xs:int" />
      <xs:element minOccurs="0" name="GenreName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenreDTO" nillable="true" type="tns:GenreDTO" />
</xs:schema>