cloud-application/AppView/Connected Services/GenreWSReference/GenreImpl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53355/Implementation/GenreImpl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppService" />
  <xs:element name="GetAllGenre">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AppService" minOccurs="0" name="GetAllGenreResult" nillable="true" type="q1:ArrayOfGenreDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGenreInserted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AppService" minOccurs="0" name="genre" nillable="true" type="q2:GenreDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGenreInsertedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsGenreInsertedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGenreUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AppService" minOccurs="0" name="genre" nillable="true" type="q3:GenreDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGenreUpdatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsGenreUpdatedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGenreDeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGenreDeletedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsGenreDeletedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>