cloud-application/AppView/Connected Services/LanguageWSReference/LanguageImpl1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLanguageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LanguageDTO" nillable="true" type="tns:LanguageDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguageDTO" nillable="true" type="tns:ArrayOfLanguageDTO" />
  <xs:complexType name="LanguageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="LID" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageDTO" nillable="true" type="tns:LanguageDTO" />
</xs:schema>