cloud-application/AppView/Connected Services/LanguageWSReference/LanguageImpl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53355/Implementation/LanguageImpl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppService" />
  <xs:element name="GetAllLanguage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AppService" minOccurs="0" name="GetAllLanguageResult" nillable="true" type="q1:ArrayOfLanguageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLanguageInserted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AppService" minOccurs="0" name="language" nillable="true" type="q2:LanguageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLanguageInsertedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsLanguageInsertedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLanguageUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AppService" minOccurs="0" name="language" nillable="true" type="q3:LanguageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLanguageUpdatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsLanguageUpdatedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLanguageDeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLanguageDeletedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsLanguageDeletedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>