cloud-application/AppView/Connected Services/MediaWSReference/MediaImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MediaImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53355/Implementation/MediaImpl.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53355/Implementation/MediaImpl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53355/Implementation/MediaImpl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMedia_GetAllMedia_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedia" />
  </wsdl:message>
  <wsdl:message name="IMedia_GetAllMedia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMediaResponse" />
  </wsdl:message>
  <wsdl:message name="IMedia_IsMediaInserted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsMediaInserted" />
  </wsdl:message>
  <wsdl:message name="IMedia_IsMediaInserted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsMediaInsertedResponse" />
  </wsdl:message>
  <wsdl:message name="IMedia_IsMediaUpdated_InputMessage">
    <wsdl:part name="parameters" element="tns:IsMediaUpdated" />
  </wsdl:message>
  <wsdl:message name="IMedia_IsMediaUpdated_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsMediaUpdatedResponse" />
  </wsdl:message>
  <wsdl:message name="IMedia_IsMediaDeleted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsMediaDeleted" />
  </wsdl:message>
  <wsdl:message name="IMedia_IsMediaDeleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsMediaDeletedResponse" />
  </wsdl:message>
  <wsdl:portType name="IMedia">
    <wsdl:operation name="GetAllMedia">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedia/GetAllMedia" message="tns:IMedia_GetAllMedia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedia/GetAllMediaResponse" message="tns:IMedia_GetAllMedia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsMediaInserted">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedia/IsMediaInserted" message="tns:IMedia_IsMediaInserted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedia/IsMediaInsertedResponse" message="tns:IMedia_IsMediaInserted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsMediaUpdated">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedia/IsMediaUpdated" message="tns:IMedia_IsMediaUpdated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedia/IsMediaUpdatedResponse" message="tns:IMedia_IsMediaUpdated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsMediaDeleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedia/IsMediaDeleted" message="tns:IMedia_IsMediaDeleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedia/IsMediaDeletedResponse" message="tns:IMedia_IsMediaDeleted_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMedia" type="tns:IMedia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMedia">
      <soap:operation soapAction="http://tempuri.org/IMedia/GetAllMedia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMediaInserted">
      <soap:operation soapAction="http://tempuri.org/IMedia/IsMediaInserted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMediaUpdated">
      <soap:operation soapAction="http://tempuri.org/IMedia/IsMediaUpdated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMediaDeleted">
      <soap:operation soapAction="http://tempuri.org/IMedia/IsMediaDeleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediaImpl">
    <wsdl:port name="BasicHttpBinding_IMedia" binding="tns:BasicHttpBinding_IMedia">
      <soap:address location="http://localhost:53355/Implementation/MediaImpl.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>